name: CI - Bash SSH Container

on:
  push:
  pull_request:

jobs:
  check-version:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    outputs:
      changed: ${{ steps.check.outputs.changed }}
      version: ${{ steps.check.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - id: check
        uses: ./.github/actions/check-version-change

  docker-build:
    needs: check-version
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' &&
      (github.ref != 'refs/heads/main' || needs.check-version.outputs.changed == 'true')
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/zyxel-ssh-bash
          tags: |
            type=raw,value=${{ needs.check-version.outputs.version }}
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,prefix=sha-

      - name: Build docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/zyxel-ssh-bash:${{ needs.check-version.outputs.version }} \
                       -f Dockerfile.bash.zyxel .

      - name: Push docker image
        uses: docker/build-push-action@v5
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          context: .
          file: ./Dockerfile.bash.zyxel
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
